html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
ol,
ul,
li {
    list-style: none
}
strong {
    font-family: cursive;
    font-size: 17px;
}
body {
    background: #FFF;
    width: 100%;
    height: 100%;
}
.modal_pwd_positaton {
    margin-left: 30%;
    margin-top: 20px;
}
#nav_position {
    margin-left: 65%;
    margin-bottom: 40px;
}
.logout_nav_position {
    margin-left: 90%;
    margin-top: 30px;
}
thead>tr>th {
    text-align: center;
}
.text_postition {
    text-align: center;
}
.add_score_positation {
    margin: 50px 10px;
}
.add_score_text_style {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 30%;
    margin-bottom: 30px;
}
.team_text_style {
    padding: 2px 5px;
    color: #097b16;
    font-family: serif;
    font-size: 16px;
}
.text_descr_style {
    text-align: center;
}
.error_style {
    font-stretch: semi-expanded;
    text-align: center;
    color: #b41c9d;
}